node_modules
dist
examples/streamed/epubs
material.css
material.css.map
reader.css
reader.css.map
reader.js
reader.js.map
examples/streamed/readers/viewer
viewer/injectables
viewer/index.js
viewer/index.js.map
settings.json
.DS_Store
yarn.lock
*.html
*.inlinesourcemap.js
package-lock.json
.parcel-cache
parcel-dist
docs
