@import "materialize/materialize";

$body-bg-color: #f4f4f4;
$text-color-medium-black: rgba(0,0,0,.54);
$text-color-light-black: rgba(0,0,0,.54);
$border-color: #ddd;
$border-color-light-black: rgba(0,0,0,0.08);
$section-dark-bg-color: #000 !default;
$section-light-bg-color: desaturate($primary-color, 30%);
$section-padding: 64px;
$admin-blue: rgb(0,176,255);
$admin-yellow: rgb(255,196,0);
$admin-pink: rgb(255,64,129);
$admin-green: rgb(112,190,116);

@media #{$large-and-up} {
  body {
    &.has-fixed-sidenav {
      padding-left: $sidenav-width;
    }
  }

  .container {
    width: 80%;
  }
}

button {
  background: none;
  border: 0;

  &:focus {
    background: none;
  }
}

/**** COLORS ****/
.primary-color {
  background-color: $primary-color !important;
}
.primary-color-text {
  color: $primary-color !important;
}
.admin-blue {
  background-color: $admin-blue !important;
}
.admin-blue-text {
  color: $admin-blue !important;
}
.admin-yellow {
  background-color: $admin-yellow !important;
}
.admin-yellow-text {
  color: $admin-yellow !important;
}
.admin-pink {
  background-color: $admin-pink !important;
}
.admin-pink-text {
  color: $admin-pink !important;
}
.admin-green {
  background-color: $admin-green !important;
}
.admin-green-text {
  color: $admin-green !important;
}


.divider {
  margin: 40px 0;
}

.google-map {
  width: 100%;
  color: #444;
}

.no-gutter {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.background {
  &.portrait {
    img {
      min-width: 100%;
      width: auto;
      min-height: none;
      height: 100%;
    }
  }

  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    width: 100%;
    min-height: 100%;
  }
}

/**** TYPOGRAPHY ****/
h1 {
  margin-bottom: 50px;
}

p {
  font-weight: 300;
  font-size: 18px;
  color: #888;

  &.caption {
    color: inherit;
  }
}

.feature {
  margin-bottom: 50px;
}

span.date {
  text-transform: uppercase;
  font-weight: 300;
}


/**** GRID ****/
.row {
  &.valign {
    width: 100%;
  }

  &.row-vertical-center {
    display: flex;
    flex-wrap: wrap;

    .col {
      display: flex;
      align-items: center;
    }
  }

  &.equal-height-grid {
    display: flex;
    flex-wrap: wrap;

    .col {
      display: flex;
      margin-left: 0;

      .card {
        display: flex;
        flex-direction: column;
        width: 100%;

        .card-stacked {
          flex: 1 0 auto;
        }
        .card-align-bottom {
          margin-top: auto;
        }
      }
    }
  }

  .col {
    padding: 0 10px;
  }
}


/**** LEGEND ****/
.chart-legend-wrapper {
  width: 100%;
  margin: 20px;
}

.chart-legend {
  display: flex;
  justify-content: center;
  font-size: 16px;

  ul {
    width: 100%;
  }

  .dot {
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .label {
    display: inline-block;
    margin-right: 10px;
  }

  .value {
    display: inline-block;
    float: right;
  }
}


/**** DROPDOWN ****/
nav.navbar ul.dropdown-content li,
.dropdown-content li {
  & > a,
  & > span {
    color: #444;
  }
}
.dropdown-button i.right {
  margin-left: 5px;
}

.dropdown-content.notifications {
  @extend .z-depth-5;
  background-color: $body-bg-color;
  color: rgba(0,0,0,.87);
  padding: 8px 16px;
  width: 450px;
  height: unset !important;
  
  .notifications-title {
    height: 56px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .card {
    &:focus {
      outline: none;
    }

    margin: 8px 0;
    line-height: normal;
    box-shadow:
      0 1px 3px 0 rgba(0,0,0,.2),
      0 1px 1px 0 rgba(0,0,0,.14),
      0 2px 1px -1px rgba(0,0,0,.12);

    .card-title {
      // font-size: 18px;
    }

    .card-content p {
      font-size: 16px;
    }

    .card-action {
      padding: 8px;
      height: auto;

      a {
        padding: 0 8px;
        margin-right: 8px !important;
        height: 36px;
        line-height: 36px;
        display: inline-block;
      }
    }
  }
}

.dropdown-content.dropdown-tabbed {
  .tabs > li {
    min-height: initial;
    width: auto;
    float: none;

    a {
      line-height: 48px;
    }
  }
}


/**** SIDENAV ****/
$sidenav-border-color: rgba(0,0,0,.2);
$sidenav-li-padding: 16px;

.sidenav {
  box-shadow: none;
  background-color: $white-color;

  & > li {
    width: 100%;
  }

  .logo-container {
    padding: 0 16px;
    height: $navbar-height;
    line-height: $navbar-height;
    font-size: 24px;
    border-bottom: 1px solid $sidenav-border-color;
    box-sizing: content-box;

    i.material-icons {
      line-height: inherit;
    }
    i.editAnnotations {
      transform: rotate(-90deg);
      margin-top: 12px;
      font-size: 32px;
      margin-right: 6px;
    }
  }

  .collapsible {
    border-bottom: 1px solid $sidenav-border-color;

    & > .active {
      .collapsible-header .chevron {
        transform: rotate(-90deg);
      }
    }

    & > li {
      &:hover {
        background-color: rgba(0,0,0,.05);
      }
      &.waves-effect {
        display: block;
      }
      &:last-child {
        border-bottom: 0;
      }

      border-bottom: 1px solid $sidenav-border-color;
      transition: background-color .2s;
    }

    .collapsible-header {
      &:hover {
        background-color: transparent;
      }

      text-transform: uppercase;
      height: $navbar-height;
      line-height: $navbar-height;

      .chevron {
        float: right;
        height: 24px;
        width: 24px;
        line-height: 24px;
        margin: (($navbar-height / 2) - 12px) 0 0 0;
        transition: transform .2s;
      }
    }

    .collapsible-body {
      padding-bottom: $sidenav-li-padding;
      background-color: transparent;

      li > a {
        &:hover,
        &.active {
          background-color: rgba(0,0,0,.07);
        }

        padding: 0 $sidenav-li-padding;
        transition: background-color .2s ease-out;

        & > i.material-icons {
          margin-right: $sidenav-li-padding;
        }
      }
    }
  }

  li {
    &.active > a,
    &:hover > a,
    & > a:hover,
    & > a.active {
      &::before {
        transform: scaleY(1);
      }
      background-color: transparent;
    }
    & > a {
      &::before {
        left: auto;
        right: 0;
      }

      position: relative;
      padding: 0 $sidenav-li-padding;
    }
  }
}
.keyboard-focused .sidenav {
  .collapsible-header:focus {
    background-color: rgba(0,0,0,.1);
  }

  .collapsible-body li > a:focus {
    background-color: rgba(0,0,0,.07);
    outline: none;
  }
}


/**** NAVBAR ****/
.navbar-fixed nav.navbar {
  width: 100%;
  left: 0;
}
@media #{$large-and-up} {
  .has-fixed-sidenav .navbar-fixed nav.navbar {
    width: calc(100% - #{$sidenav-width});
    left: $sidenav-width;
  }

  body:not(.has-fixed-sidenav) nav a.sidenav-trigger {
    display: block;
  }

  body:not(.has-fixed-sidenav) nav.navbar .brand-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media #{$medium-and-down} {
  nav.navbar a.brand-logo {
    position: absolute;
  }
}

nav.navbar {
  z-index: 10;
  transition: box-shadow .3s,
              background-color .3s;
  padding: 0 20px;
  background-color: $white-color;
  color: $sidenav-font-color;

  .brand-logo {
    position: relative;
    float: left;
    font-size: 18px;
    color: $sidenav-font-color;

    i {
      line-height: inherit;
      transition: color .2s;
    }
  }

  .nav-wrapper > ul > li > a {
    display: block;
  }

  .sidenav-trigger {
    margin: 0;
  }

  ul {
    // Active / Hover state
    & > li.active > a::before,
    & > li > a.active::before,
    & > li > a:hover::before {
      transform: scaleX(1);
    }

    li.active {
      background-color: transparent;
    }

    a {
      &:focus {
        outline: none;
      }

      color: $sidenav-font-color;
      position: relative;
      transition: color .2s;
    }
  }
}

.nav-extended {
  .nav-wrapper {
    padding-left: 24px;
  }

  .nav-metrics {
    border-top: 1px solid $border-color;
    margin-bottom: 0;

    .col:last-child .card {
      border-right: 0;
    }

    .card {
      border-right: 1px solid $border-color;
      box-shadow: none;
      background-color: transparent;
      margin: 0;
    }
  }
}


/**** HEADER ****/
.nav-wrapper-with-search {
  display: flex;

  .search-wrapper {
    flex: 1;
    overflow: hidden;
    margin-right: 20px;
    background-color: rgba(255,255,255,.25);
    border-radius: 2px;
    border-right: 1px solid #ddd;

    i {
      height: $navbar-height-mobile;
      line-height: $navbar-line-height-mobile;
    }
    .label-icon i {
      color: #444;
    }
  }

  @media #{$medium-and-up} {
    .search-wrapper i {
      height: $navbar-height;
      line-height: $navbar-line-height;
    }
  }
}


/**** BADGED UPDATES ****/
.badge-updates {
  margin: 16px 0 0 0;

  & > li {
    &::after {
      content:'';
      display: block;
      clear: both;
    }

    &:last-child {
      margin-bottom: 0;
    }

    line-height: $badge-height;
    margin-bottom: 8px;
  }

  .badge {
    float: left;
    margin: 0 16px 0 0;
  }
  .time {
    float: right;
    font-size: 12px;
    color: $text-color-light-black;
  }
}


/**** SECTION ****/
.section {
  &.chart-padding {
    padding: 16px 0;
  }

  padding: $section-padding 0;
  position: relative;

  .section-title {
    margin-bottom: 30px;
  }

  .caption {
    font-size: 1.4rem;
    font-weight: 200;
  }

  .col { min-height: 1px; }
}

/**** BUTTONS ****/
%circle-flat-icon {
  &::before {
    display: block;
    padding: 8px;
    line-height: 24px;
    font-size: 24px;
  }
  &.disabled,
  &.disabled:hover {
    color: rgba(0,0,0,0.26) !important;
    border: 0;
  }
  &:hover,
  &:active {
    color: rgba(0,0,0,0.87) !important;
    background: rgba(0,0,0,.05);
    border: 0;
    box-shadow: none;
  }

  color: rgba(0,0,0,0.87) !important;
  font-family: "Material Icons";
  overflow: hidden;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0 2px;
  box-shadow: none;
  border: 0;
  border-radius: 50%;
  background: transparent;
}



/**** FOOTER ****/
.page-footer {
  background-color: #fff;
  border-top: 1px solid $border-color;
  color: #444;
  padding: 40px 0;
  margin: 0;

  .row {
    margin: 0;
  }

  .materialize-logo {
    margin-top: 2px;
  }

  p {
    margin: 5px 0;
  }

  ul li {
    margin-bottom: 5px;
  }

  ul li a,
  p {
    color: #999;
    font-size: .8rem;
    font-weight: 300;
    margin: 5px 0;
  }
}


// Mobile styles.
@media #{$small-and-down},
only screen and (max-device-width: 641px)
and (orientation: landscape) {
  .section {
    height: auto;
  }

  .google-map {
    height: 100%;
  }
}

.nav-wrapper {
    width: 100%
}
