

.controls-trigger {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  padding: env(safe-area-inset-top) 0 0;
  z-index: 10;
  background-color: $ui-white;
  color: $ui-dark-gray;

  .icon {
    display: inline-block;
    color: $ui-dark-gray;
    fill: $ui-dark-gray;
    height: 1.5rem;
    width: 1.5rem;
    transition: transform 300ms ease-in-out;
  }

  .inactive-icon {
    transition: transform 300ms ease-in-out;
    transform: rotate(180deg);
  }
}

.controls {
  color: $ui-dark-gray;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  padding: env(safe-area-inset-top) 0 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  .links {
    background-color: $ui-white;
    height: inherit;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0.125rem;
    text-align: center;

    > li button i {
        vertical-align: middle;
    }

    .icon {
      display: inline-block;
      color: $ui-dark-gray;
      fill: $ui-dark-gray;
      height: 1.5rem;
      width: 1.5rem;
      vertical-align: middle;
      &.inactive-icon { // x-close icon
        display: none;
        height: 0;
        width: 0;
        vertical-align: middle;
      }
    }

    .setting-text {
      display: none;
      position: relative;
      text-transform: uppercase;
      vertical-align: middle;
      @media screen and (min-width: 30rem) {
        display: inline-block;
        font-size: 0.9rem;
        letter-spacing: 0.07rem;
      }
    }

    &.top {
      background-color: $ui-white;
      border-bottom: 0.0625rem solid $ui-light-gray;
      height: 2.9rem;
      padding: 0.5rem 0 0;
      display: flex;

      &.inactive {
        transition: opacity 100ms cubic-bezier(0.32, 0.76, 1, 1.01);
      }

      &.active {
        transition: opacity 100ms cubic-bezier(0, 0.03, 0.63, 0.99);
      }

      > li.uplink-wrapper {
        margin-right: 0;
        display: inline-block;
        margin: 0 auto 0 0.625rem;

        a[rel="up"] {
          display: inline-block;
          padding: 0.35rem 0.35rem 0.2rem !important;
        }

      }


      > li:last-child {
        margin-right: 0.625rem;
        margin-right: 2.85rem;
      }
    } // / .top

    // Bottom Controls
    // the, fixed bar and the arrows.
    &.bottom {
      background-color: darken($ui-white, 2.5%);
      border-top: 0.16rem solid $ui-light-gray;
      bottom: 0;
      height: 2.2rem;
      position: fixed;
      width: 100%;

      padding: 0.5rem 0 0;
      &.inactive {
        height: 0;
      }

      @media (min-width: 30rem) {
        }

      li {
        border: 0;
        float: none;
        padding: 0;
        display: inline-block;

        @media screen and (min-width: 30rem) {
          &:nth-child(1) {
            float: left;
          }

          &:nth-child(3) {
            float: right;
          }
        }
      }

      // The Chapters label found only on mobile
      li[aria-label="chapters"] {
        margin: 0 20%;
        position: relative;
        text-align: center;

        @media screen and (min-width: 30rem) {
          display: none;
          }
        }

      @media screen and (min-width: 30rem) {
        background: $ui-white;
        }

      .icon {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.375rem;
        vertical-align: middle;

        @media screen and (min-width: 30rem) {
          position: relative;
          vertical-align: middle;
        }
      }

      .chapter-control {
        display: none;

        @media screen and (min-width: 30rem) {
          display: inline-block;
          }
        }
     } // /.bottom

     // Middle Controls
    // the, fixed bar and the arrows.
    &.middle {
        background-color: transparent !important;
        top: 50%;
        height: 2.2rem;
        position: fixed;
        width: 100%;
  
        &.inactive {
          height: 0;
        }
    
        li {
          border: 0;
          float: none;
          padding: 0;
          display: inline-block;
  
            &:nth-child(1) {
              float: left;
            }
  
            &:nth-child(2) {
              float: right;
            }
        }
    
        .icon {
          height: 1.5rem;
          width: 1.5rem;
          margin: 0 0.375rem;
  
          @media screen and (min-width: 30rem) {
            position: relative;
          }
        }
  
        .chapter-control {
          display: none;
  
          @media screen and (min-width: 30rem) {
            display: inline-block;
            }
          }
       } // /.middle
  } // /.links
} // /.controls