@namespace epub "http://www.idpf.org/2007/ops";
b {
  font-weight: normal;
  font-variant: small-caps; }

.z3998-poem p,
.z3998-song p,
.z3998-verse p {
  text-align: left;
  text-indent: 0; }

.z3998-poem p + p,
.z3998-song p + p {
  margin-top: 1em; }

.z3998-poem p span,
.z3998-song p span,
.z3998-verse p span {
  display: block;
  text-indent: -1em;
  padding-left: 1em; }

.z3998-poem br,
.z3998-song br,
.z3998-verse br {
  display: none; }

p span.i1 {
  text-indent: -1em;
  padding-left: 2em; }

p span.i2 {
  text-indent: -1em;
  padding-left: 3em; }

p span.i3 {
  text-indent: -1em;
  padding-left: 4em; }

section.epigraph {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto; }

span.subtitle {
  display: block;
  font-weight: normal; }

.address {
  font-variant: small-caps; }
