:root {
    --RS__highlightColor: rgba(255, 255, 0, 0.5);
    --RS__highlightMixBlendMode: multiply;
    --RS__highlightHoverColor: rgba(255, 255, 0, 0.75);
}

.R2_CLASS_HIGHLIGHT_AREA {
    background-color: var(--RS__highlightColor) !important;
    mix-blend-mode: var(--RS__highlightMixBlendMode) !important;
}
.R2_CLASS_HIGHLIGHT_AREA:hover,
.R2_CLASS_HIGHLIGHT_AREA.hover {
    background-color: var(--RS__highlightHoverColor) !important;
}

